.body {
    flex-grow: 1;
    padding-top: 50px;
}

.body a {
    text-decoration: underline;
    color: #5579fc;
}

@media (orientation: portrait)
{
   .body {
        padding-bottom: 50px;
   } 
}

@media (orientation: landscape)
{
   .body {
       max-height: 100vh;
       overflow-y: auto;
   } 
}
