.sectionLine {

}

.sectionLine header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 2em;
    padding:0.5em 0;
}


.sectionLine header h2 {
    display: inline-block;
}

.date, .spacer {
    flex-grow: 1;
    min-width: 0;
}
.date { text-align: right; }
.details { text-align: left; }
.date,.details {padding: 0.2em 0; }

@media (max-width: 515px)
{
    .sectionLine header h2 {
        font-size: 1em;
    }
    .sectionLine .date {
        text-align: left;
    }
}
